apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: taskops
  annotations: 
   prometheus.io/scrape: "true" 
   prometheus.io/port: "4000"
   prometheus.io/path: "/metrics"
spec:  
  type: ClusterIP
  ports: 
    - name: http
      port: 4000
      targetPort: 4000
  selector: 
      app: backend 
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: taskops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: shubhamkapse003/taskops-backend:latest
          ports:
            - containerPort: 4000
          env:
            
        
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: DB_NAME
            - name: JAEGER_AGENT_HOST
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: JAEGER_AGENT_HOST
            - name: JAEGER_AGENT_PORT
              valueFrom:
                configMapKeyRef:
                  name: backend-config
                  key: JAEGER_AGENT_PORT
