apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: taskops-ingress
  namespace: taskops
spec:
  ingressClassName: alb
  rules:
    - host: taskops.example.com
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
