apiVersion: v1
kind: service
metadata:
  name: postgres
  namespace: taskops
spec:
 type: ClusterIP
 ports:
   - port: 5432
     targetPort: 5432
 selector:
   app: postgres 
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: taskops
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_NAME
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
              volumeClaimTemplate:
                metadata:
                  name: pgdata
                spec:
                  accessModes: [ "ReadWriteOnce" ]
                  storageClassName: gp3
                  resources:
                    requests:
                      storage: 5Gi